@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@layer base {
  body {
    @apply font-inter  text-base bg-white relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff3a;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}
